* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

.background {
	margin: 0 10%;
}

a {
	text-decoration: none;
}

ul {
	list-style-type: none;
}

h2 {
	text-align: center;
}

h5 {
	text-align: center;
	color: #fff;
}

.figure iframe {
	width: 100%;
	height: 630px;
	padding-top: 80px;
}

.monospacel {
	font-family: itc-american-typewriter, serif;
	font-weight: 300;
	font-style: normal;
}

.monospacem {
	font-family: itc-american-typewriter, serif;
	font-weight: 500;
	font-style: normal;
}



/* Navigation
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.topnav {
	background-color: #fff;
	overflow: hidden;
	min-height: 80px;
	position: fixed;
	z-index: 100;
	width: 100%;
}

.topnav a {
	float: left;
	display: block;
	color: #000;
	text-align: center;
	padding: 26px 48px;
	text-decoration: none;
	font-size: 17px;
	min-height: 80px;
}

.topnav a:hover {
	background-color: #FFB923;
	color: white;
	transform: scale(.9);
}

.topnav a.active {
	background-color: #FFB923;
	color: white;
}


.topnav .icon {
	display: none;
	max-width: 80px;
	min-height: 80px;
	background-color: white;
}

.topnav .icon:hover {
	background-color: white;
	color: black;
}

#nav-logo {
	max-height: 80px;
	align-self: start;
	float: left;
	margin: 0 5%;
}


/* donate button 
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#donateButton {
	display: block;
	/* float: right; */
	position: fixed;
	top: 16px;
	right: 30px;
	border: none;
	outline: none;
	background-color: #FFB923;
	color: white;
	cursor: pointer;
	/* height: 60%; */
	/* margin: 10% 0; */
	padding: 10px 20px;
	border-radius: 10px;
	font-size: 18px;
}

#donateButton:hover {
	background-color: #fcdc97;
}


/* SLIDER
–––––––––––––––––––––––––––––––––––––––––––––––––– */



.slideshow-container {
	width: 100%;
	position: relative;
	margin: auto;
	padding-top: 80px;
}



.mySlides {
	display: none;
	height: 40vw;
	overflow: hidden;
}



.prev,
.next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}



.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}



.prev:hover,
.next:hover {
	background-color: rgba(0, 0, 0, 0.8);
}



.text {
	color: #f2f2f2;
	font-size: 150%;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
}



.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}


.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active,
.dot:hover {
	background-color: #FFB923;
}



.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

.mission {
	display: flex;
}

@-webkit-keyframes fade {
	from {
		opacity: .4
	}
	to {
		opacity: 1
	}
}

@keyframes fade {
	from {
		opacity: .4
	}
	to {
		opacity: 1
	}
}


/* 
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.column {
	float: left;
	width: 100%;
	margin: 1.5%;
}

.row::after {
	content: "";
	clear: both;
	display: table;
}

.row {
	display: flex;
}

.imageborder {
	border-style: solid;
	border-color: #FFB923;
}


/* Imagelinks
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.imagelinks {
	opacity: 0.4;
}

.outer {
	position: relative;
	margin: 1.5%;
	overflow: hidden;
	border-radius: 10px;
	width: 100%;
}

.outer img {
	width: 100%;
}

.red {
	background: #80425a;
}

.blue {
	background: #5d989e;
}

.yellow {
	background: #FFB923;
}

.black {
	background: #000;
}

.inner {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.inner img {
	width: 30%;
	height: 50%;
	margin: 0 35%;
}

.imagetext {
	text-align: center;
	color: #fff;
}

h5 {
	text-align: center;
	color: #fff;
}


/* Supporterslider
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.supporterslider {
	width: 100%;
	height: auto;
	padding: 5px;
}

.slick-dots {
	text-align: center;
	margin: 0 0 10px 0;
	padding: 0;
}

.slick-dots li {
	display: inline-block;
	margin-left: 4px;
	margin-right: 4px;
}

.slick-dots li.slick-active button {
	background-color: #FFB923;
}

.slick-dots li button {
	font: 0/0 a;
	text-shadow: none;
	color: transparent;
	background-color: #999;
	border: none;
	width: 15px;
	height: 15px;
	border-radius: 50%;
}

.slick-dots li :hover {
	background-color: #FFB923;
}


/* Custom Arrow */

.prev2 {
	color: #999;
	position: absolute;
	top: 38%;
	left: -2em;
	font-size: 1.5em;
}

.prev2 :hover {
	cursor: pointer;
	color: black;
}

.next2 {
	color: #999;
	position: absolute;
	top: 38%;
	right: -2em;
	font-size: 1.5em;
}

.next2 :hover {
	cursor: pointer;
	color: black;
}


/* EDUCATION
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#edu-main-section {
	width: 100%;
	background: #FFB923;
	padding-top: 80px;
	display: flex;
}

#edu-main-section h1 {
	text-align: center;
	padding: 7% 0% 0% 0%;
}

#edu-main-section p {
	text-align: center;
	width: 100%;
	padding: 5%;
}


/* EDUCATION Learn
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#edu-learn {
	width: 100%;
	text-align: center;
}

#edu-learn p {
	padding-top: 5%;
}

#learn {
	font-size: 2em;
	text-align: center;
	background: #dc4a38;
	padding: 3% 0%;
	margin: 0%;
}

#eduimages {
	display: flex;
	justify-content: center;
}

#eduimage {
	width: 20%;
}

#edu-learn #eduimages img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 50%;
}

#eduimages p {
	text-align: center;
	padding: 5%;
}

#edu-learn2 {
	width: 100%;
	text-align: center;
}

#edu-learn2 img {
	width: 50%;
}

#edu-learn2 p {
	padding: 5%;
}


/* EDUCATION Training
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#edu-training {
	background: #dc4a38;
	color: #fff;
	padding: 5% 0%;
}

#training {
	font-size: 2em;
	text-align: center;
}

#edu-training {
	width: 100%;
}

#tcourses h6 {
	text-align: center;
	text-transform: uppercase;
	height: 70%;
}

#tcourses {
	display: flex;
}

#edu-training .tbox {
	padding: 2%;
	background: #a3a3a3;
	width: 18%;
	margin: 1%;
}

#edu-training p {
	text-align: center;
	padding: 5% 0%;
}

#readmore {
	width: 70%;
	margin: 0 15%;
	border: none;
	outline: none;
	color: white;
	background-color: #a3a3a3;
	cursor: pointer;
	padding: 10px;
	border-radius: 10px;
	font-size: 15px;
}

#readmore:hover {
	color: #555;
}


/* EDUCATION Join
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#edu-join {
	position: relative;
	text-align: center;
	color: white;
	overflow: hidden;
	background: black;
	margin: 5% 0%;
}

#join {
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

#joinp {
	font-size: 1em;
}

#edu-join img {
	width: 100%;
	opacity: 0.4;
}


/* Get Involved
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#giicons {
	display: flex;
	justify-content: center;
}

#giicon {
	width: 20%;
}

#giicons img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 70%;
	padding-top: 5%;
}

#giicons p {
	text-align: center;
	padding: 5%;
}

.gi-last-section p {
	text-align: center;
	padding-bottom: 5%;
	margin: 0 10%;
	color: white;
}

.gi-last-section img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 5%;
}

.giboth {
	color: white;
}

#gi-last-section1 {
	width: 100%;
	background: #FFB923;
	margin-top: 5%;
}

#gi-last-section2 {
	width: 100%;
	background: #5d989e;
}

#gi-last-section3 {
	width: 100%;
	background: #80425a;
	margin-bottom: 5%;
}


/* Donate Form
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.base {
	background: white;
	border-radius: 1%;
	margin: 10%;
}

.base img {
	padding-top: 5%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 20%;
}

.form {
	padding: 5%;
}


/* Donation Form Styling */

.flexbox {
	display: flex;
	margin: 1%;
}

h1 {
	padding-top: 20px;
	padding-bottom: 20px;
}

#select-an-amount button {
	background-color: white;
	padding: 12px 0;
	border: none;
	box-shadow: 1px 1px 5px #aaa;
	cursor: pointer;
}

#select-an-amount button:hover,
#select-an-amount button:focus {
	background-color: orange;
	color: white;
}

#give-monthly {
	background-color: #ffe2b0;
	padding: 16px;
}

.label-div {
	width: 20%;
}

#donation-form input[type=text],
#donation-form input[type=tel],
#donation-form input[type=email] {
	padding: 12px 6px;
	width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

#donation-form textarea {
	padding: 12px 6px;
	width: 100%;
}

#donation-form select,
#donation-form input[type=number] {
	padding: 12px 6px;
	width: 50%;
	margin-right: 50%;
}

#donation-form p {
	margin: 8px 0;
}

#payment-details button {
	border: 2px solid orange;
	background-color: white;
	color: orange;
	padding: 8px 16px;
	border-radius: 8px;
	cursor: pointer;
}

#payment-details button:hover {
	color: white;
	background-color: orange;
}

.input-div {
	width: 80%;
}

.mr-1 {
	margin-right: 1%;
}

.ml-1 {
	margin-right: 1%;
}

.space-between {
	justify-content: space-between;
}

.w50 {
	width: 50%;
}

.w20 {
	width: 18%;
}

.w48 {
	width: 48%;
}

.pt-5 {
	padding-top: 16px;
}

.pb-5 {
	padding-bottom: 16px;
}

.m-0 {
	margin: 0;
}

.center-align {
	text-align: center;
}

#select-an-amount .flexbox {
	justify-content: space-between;
}

#give-now {
	padding: 0 15%;
}

#give-now button {
	background-color: orange;
	color: white;
	padding: 16px 32px;
	border: none;
	margin-right: 10px;
	margin-top: 15%;
	cursor: pointer;
}

#give-now h3 {
	margin: 0;
}

.justify-end {
	align-items: flex-end;
}


/* social buttons - contact us
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.social-btns .btn,
.social-btns .btn:before,
.social-btns .btn .fa {
	transition: all 0.35s;
	transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
}

.social-btns .btn:before {
	top: 90%;
	left: -110%;
}

.social-btns .btn .fa {
	transform: scale(0.8);
}

.social-btns .btn.facebook:before {
	background-color: #3b5998;
}

.social-btns .btn.facebook .fa {
	color: #3b5998;
}

.social-btns .btn.instagram:before {
	background-color: #c32aa3;
}

.social-btns .btn.instagram .fa {
	color: #c32aa3;
}

.social-btns .btn.google:before {
	background-color: #dc4a38;
}

.social-btns .btn.google .fa {
	color: #dc4a38;
}

.social-btns .btn.twitter:before {
	background-color: #3cf;
}

.social-btns .btn.twitter .fa {
	color: #3cf;
}

.social-btns .btn:focus:before,
.social-btns .btn:hover:before {
	top: -10%;
	left: -10%;
}

.social-btns .btn:focus .fa,
.social-btns .btn:hover .fa {
	color: #fff;
	transform: scale(1);
}

.social-btns {
	height: 45px;
	margin: auto;
	font-size: 0;
	text-align: right;
}

.social-btns .btn {
	display: inline-block;
	background-color: #fff;
	width: 45px;
	height: 45px;
	line-height: 45px;
	margin: 0 10px;
	text-align: center;
	position: relative;
	overflow: hidden;
	border-radius: 28%;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
	opacity: 0.99;
}

.social-btns .btn:before {
	content: "";
	width: 120%;
	height: 120%;
	position: absolute;
	transform: rotate(45deg);
}

.social-btns .btn .fa {
	font-size: 25px;
	vertical-align: middle;
}


/* footer - contact us
–––––––––––––––––––––––––––––––––––––––––––––––––– */

footer {
	background: #a3a3a3;
	color: white;
	text-align: left;
	padding: 2em;
}

/* responsive
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media only screen and (min-width: 1000px) {
	#edu-main-section img {
		width: 720px;
		height: 460%;
	}
	.learn2-section1 {
		display: flex;
	}
	.learn2-section2 {
		display: flex;
		flex-direction: row-reverse;
	}
	#edu-learn2 p {
		padding-top: 20px;
	}
	.learn2-section1 img {
		width: 20%;
	}
	.learn2-section2 img {
		width: 20%;
	}
	#gi-last-section1 {
		display: flex;
		align-items: center;
	}
	#gi-last-section2 {
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
	}
	#gi-last-section3 {
		display: flex;
		align-items: center;
	}
	.gi-last-section img {
		padding: 3%;
		height: 100%;
		width: 100%;
	}
	.gi-last-section p {
		padding-top: 5%;
		margin: 0;
	}
	#gi-last-section1 p,
	h2 {
		margin-right: 10%;
		text-align: left;
	}
	#gi-last-section2 p,
	h2 {
		margin-left: 10%;
		text-align: right;
	}
	#gi-last-section3 p,
	h2 {
		margin-right: 10%;
		text-align: left;
	}
	#order {
		text-align: right;
	}
}

@media only screen and (max-width: 600px) {
	.outer {
		position: relative;
		margin: 1.5%;
		overflow: hidden;
		border-radius: 5px;
		width: 100%;
	}
	#edu-main-section img {
		width: 100%;
	}
	#edu-main-section {
		flex-direction: column;
	}
	.row {
		flex-direction: column;
	}
	#tcourses {
		flex-direction: column;
	}
	#edu-training .tbox {
		width: 100%;
	}
	.social-btns {
		text-align: center;
		margin-bottom: 20px;
	}
	footer {
		text-align: center;
	}
	.topnav a:not(:first-child) {
		display: none;
	}
	.topnav a.icon {
		float: right;
		display: block;
	}
	#donateButton {
		right: 100px;
	}
	.topnav.responsive {
		position: relative;
	}
	.topnav.responsive a.icon {
		position: absolute;
		right: 0;
		top: 0;
	}
	.topnav.responsive a {
		float: none;
		display: block;
		text-align: left;
		clear: both;
	}
	.figure iframe {
		height: 315px;
	}
	#join {
		width: 70%;
		font-size: 0.8em;
	}
}