* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.background{
  margin: 0 10%;
}

a{
  text-decoration: none;  
}

ul{
  list-style-type: none;
}

h5 {
  text-align: center;
  color: #fff;
}

/* HEADER
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Navigation
–––––––––––––––––––––––––––––––––––––––––––––––––– */

nav {
  background: #fff;
  color: #000000;
  text-align: center;
  overflow: hidden;
  padding: 0 5%;
  background: #fff; 
}

#nav-logo{
  max-height: 70px; 
  align-self: start;
  float: left;
}

nav ul {
  display: flex;
  padding:0;
  /* float: right; */
}

nav ul .nav-item {
  width: 15%;
  cursor: pointer;
  padding: 2%;
  text-transform: uppercase;
  transition: .2s linear;
}

nav ul .nav-item:hover{
  background: #FFB923
}

nav ul .nav-item a {
  color: rgb(0, 0, 0);
  transform: translateY(2px);
  transition: .2s linear;
}

nav ul .nav-item i {
  transform: translateY(2px);
  font-size: 30px;
  transition: .2s linear;
}

nav ul .nav-item:hover i {
  transform: translateY(-2px) scale(.9);
}

nav ul li:hover a {
 color:#fff;
 transform: translateY(-2px)

}

/* SLIDER
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Slideshow container */
.slideshow-container {
  width: 100%;
  position: relative;
  margin: auto;
  
  
}

/* Hide the images by default */
.mySlides {
  display: none;
  height: 40vw;
  overflow: hidden;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 150%;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/4 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #FFB923;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
/* 
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.column {
  float: left;
  width: 30%;
  margin:1.5%;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.row{
  display: flex;
}

.imageborder{
  border-style: solid;
  border-color: #FFB923;
}

/* Imagelinks
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.imagelinks {
   opacity: 0.4;
}

.outer{
  position: relative;
  margin: 1.5%;
  overflow: hidden;
  border-radius: 5px;
  width: 100%;
}

.outer img{
  width: 100%;
}

.red{
  background: #80425a;
}

.blue{
  background: #5d989e;
}
.yellow{
  background: #FFB923;
}

.inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.inner img {
  width: 30%;
  height: 50%;
  margin: 0 35%;
}


.imagetext {
  text-align: center;
  color: #fff;
}

h5 {
  text-align: center;
  color: #fff;
}


/* slider
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.supporterslider {
  width: 100%;
  height: auto;
  padding: 5px;
}

.slick-dots {
  text-align: center;
  margin: 0 0 10px 0;
  padding: 0;
}
.slick-dots li {
  display: inline-block;
  margin-left: 4px;
  margin-right: 4px;
}
.slick-dots li.slick-active button {
  background-color: #FFB923;
}
.slick-dots li button {
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  background-color: #999;
  border: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.slick-dots li :hover {
  background-color: #FFB923;
}

/* Custom Arrow */
.prev2 {
  color: #999;
  position: absolute;
  top: 38%;
  left: -2em;
  font-size: 1.5em;
}
.prev2 :hover {
  cursor: pointer;
  color: black;
}

.next2 {
  color: #999;
  position: absolute;
  top: 38%;
  right: -2em;
  font-size: 1.5em;
}
.next2 :hover {
  cursor: pointer;
  color: black;
}






/* EDUCATION
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#edu-main-section{
  width: 100%;
}

h1{
  font-size: 2em;
  text-align: center;
}

#edu-main-section img{
  width: 100%;
  padding: 5%;
}

#edu-main-section p {
  width: 100%;
  padding: 5%;
}

#edu-imagelinks{
  width: 100%;
  display: flex;
  flex-direction: column;
}

#edu-imagelinks .outer {
  width: 80%;
  margin: 10% 10%;
  position: relative;
}

#edu-imagelinks .imagelinks {
  width: 100%;
}

#edu-imagelinks .inner{
  position: absolute;
  top: 30%;
  left: 30%;
}

#edu-features{
  width: 100%;
  padding: 0 10%;
}

h2{
  font-size: 2em;
  text-align: center;
}

#edu-features #images{
  width: 80%;
  margin: 0 10%;
}

#edu-features .image{
  width: 80%;
  margin: 0 10%;
  padding: 10% 0;
}

#edu-features #images p{
  text-align: center;
  padding: 5%;
}

#edu-features2{
  width: 100%;
}

#edu-features2 img{
  width: 100%;
  padding: 5%;
}

#edu-features2 p {
  width: 100%;
  padding: 5%;
}

#edu-training{
  width: 100%;
  padding: 0 10%;
}

h2{
  font-size: 2em;
  text-align: center;
}

#edu-training #images{
  width: 80%;
  margin: 0 10%;
}

#edu-training .image{
  width: 80%;
  margin: 0 10%;
  padding: 10% 0;
}

#edu-training #images p{
  text-align: center;
  padding: 5%;
}

#edu-training button{
  width: 50%;
  margin: 0 25%;
}

@media only screen and (max-width: 700px){
  .outer{
  position: relative;
  margin: 1.5%;
  overflow: hidden;
  border-radius: 5px;
  width: 100%;
}
.row{
  flex-direction: column;
}
}


/* social button - contact us
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#donateButton {
  display: block; 
  position: fixed; /* Fixed/sticky position */
  top: 20px; /* Place the button at the bottom of the page */
  right: 50px; /* Place the button 30px from the right */
  z-index: 99; 
  border: none; 
  outline: none; 
  background-color: #FFB923; 
  color: white; 
  cursor: pointer; 
  padding: 10px; 
  border-radius: 10px; 
  font-size: 18px; 
}

#donateButton:hover {
  background-color: #ffcd61; 

/* social button - contact us
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.social-btns .btn,
.social-btns .btn:before,
.social-btns .btn .fa {
  transition: all 0.35s;
  transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
}
.social-btns .btn:before {top: 90%; left: -110%;}
.social-btns .btn .fa {transform: scale(0.8);}

.social-btns .btn.facebook:before {background-color: #3b5998; }
.social-btns .btn.facebook .fa {color: #3b5998; }

.social-btns .btn.instagram:before {background-color: #c32aa3; }
.social-btns .btn.instagram .fa {color: #c32aa3; }

.social-btns .btn.google:before {background-color: #dc4a38; }
.social-btns .btn.google .fa {color: #dc4a38; }

.social-btns .btn.twitter:before {background-color: #3cf; }
.social-btns .btn.twitter .fa {color: #3cf; }

.social-btns .btn:focus:before,
.social-btns .btn:hover:before { top: -10%; left: -10%;}

.social-btns .btn:focus .fa,
.social-btns .btn:hover .fa {color: #fff; transform: scale(1);}

.social-btns {
  height: 45px;
  margin: auto;
  font-size: 0;
  text-align: right;
}

.social-btns .btn {
  display: inline-block;
  background-color: #fff;
  width:45px;
  height: 45px;
  line-height: 45px;
  margin: 0 10px;
  text-align: center;
  position: relative;
  overflow: hidden;
  border-radius: 28%;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  opacity: 0.99;

}

.social-btns .btn:before {
  content:"";
  width:120%;
  height:120%;
  position: absolute;
  transform: rotate(45deg);
}

.social-btns .btn .fa {
  font-size: 25px;
  vertical-align: middle;
}


/* footer - contact us
–––––––––––––––––––––––––––––––––––––––––––––––––– */

footer {
	background: #a3a3a3;
	color: white;
	text-align: left;
  padding: 2em;	
}
